
* {
    box-sizing: border-box;
    
}

.container {
    width: 960px; 
    
}

body {
    margin: 0;
    padding: 0;
    
}
.nav {
  background-color: #d8e1eb;
  border-bottom: 1px solid #466995;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.category {
    position: relative;
    right: 5px;
}

.title {
    position: relative;
    left : 10px;
}
}
    
}
