
* {
    box-sizing: border-box;
    
}

.container {
    width: 960px; 
    
}

body {
    margin: 0;
    padding: 0;
    
}
 .nav {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  background-color: #333;
  position :fixed;
  width: 960px;
}


.nav li {
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase; 
  text-align: center;
}

.category {
    position: relative;
    right: 5px;
}

.title {
    
}

ul div.title {
  float: left;
}
ul div.category {
  float: right;
}
