
* {
    box-sizing: border-box;
    text-align: center;
}

.container {
    width: 960px; 
    
}

body {
    margin: 0;
    padding: 0;
    
}
 .nav {
  list-style-type: none;
  margin: 0px;
  padding: 20px 0px;
  background-color: #333;
  position :fixed;
  width: 960px;
  z-index: 10000;
  height : 80px;
  top: 0px;

}


.nav li {
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-right: 25px;
  text-transform: uppercase; 
  text-align: center;
 
}

.title {
   float: left;
   font-size: 30px;
}

.category {
  float: right;
  font-size: 18px;
}

.strawberry { 
    float: left;
    
}

.melon {
    float: left;
    margin: 0px 30px;
}


.choco {
    float: right;
}


.header {
    background:
    url("http://sulbing.com/online/wp-content/uploads/2016/11/sulbing.com_딸기티라미수설빙-1.png")
    no-repeat;
    background-size : cover;
    height: 600px ;
    position: relative;
    top: 30px;
    z-index: 9999;
}

.header h1{
    font-size: 100px;
}

.header h2{
    font-size: 20px;
    position: relative;
    top: 250px;
}

.section {
    height: 800px;
    font-size: 18px;
    position: relative;
    top: 100px;
}

.section img {
    height: 300px;
    width: 300px;
}

.footer {
    height: 60px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.description {
    width: 300px;
}

a:link {
    color: white;
}
    